<!DOCTYPE html>
<html>
    <head>
        <title>Jarta</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class="dialog-container">
            <div class="dialog">
                <div class="dialog-title">Add new thought</div>
                <div class="dialog-body">
                    <input type="text" id="thought" title="thought"/>
                </div>
                <button id="addThought" class="button">Add</button>
            </div>
        </div>

        {{#thoughts}}
            <b>{{label}}</b>
        {{/thoughts}}

        <script src="/assets/js/thoughts.js" async></script>
    </body>
</html>
